body {
    background-image: url("https://cdn.midjourney.com/9f7ad12d-560f-446e-93fa-f2e6e81831b9/0_2.webp");
    background-repeat: repeat;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
    border-radius: 2%;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
    outline: 1px dotted rgba(0, 0, 0, 0.612);
    text-shadow: rgb(0, 0, 0) 2px 0 15px;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.553);
}